$image-carousel-width-lg: 40vw;
$image-carousel-width-sm: 90vw;

.accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh - $nav-height;
  
  .carousel {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 100%;

    img {
      min-width: 100%;
      min-height: 100%;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      transition: 0.6s ease-out;
    }
  }
  
  %btn-styles {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $white; 
    cursor: pointer;
  }
  
  .goLeft {
    left: 20px;
    @extend %btn-styles; 
  }
  
  .goRight {
    right: 20px;
    @extend %btn-styles;
  }

  .upper-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .accueil-text {
      width: 35%;
      h1 {
        font-size: 2.5rem;
        font-weight: 400;
      }
      p{
        margin: 1.5rem 0rem;
        font-size: 1.2rem;
      }
    }
    .image-carousel-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $image-carousel-width-lg;
      height: 9/16 * $image-carousel-width-lg;
      overflow: hidden;
      box-shadow: $black 0px 6px 25px;
    }
  }
  
  .card-carousel-container {
    min-height: 150px;
    height: 20vh;
    width: 80vw;
    position: relative;

    .carousel {
      overflow-x: scroll;
      padding-bottom: 0.5rem;
      
      .carousel-item {
        transition: initial;
        margin: 0rem 1rem;
        .card {
          min-height: 150px;
          height: 20vh;
          .card-header {
            height: clamp(110px, 15vh, 1000px);
            width: calc((16/9)*clamp(110px, 15vh, 1000px));
            
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
    
          p {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 5vh;
            background: $black;
            color: white;
            transition: 0.3s;
            font-size: clamp(14px, 2vh, 16px);
            padding: 1rem;
            border: 1px solid $black;
          }
  
          a {
            text-decoration: none;
          }
  
          &:hover {
            p {
              border: 1px solid $black;
              background: $white;
              color: $black;
            }
          }
        }
      }
      .carousel-item:first-of-type {
        margin-left: 0;
      }
    }


  }
}

@media screen and (max-width: 991px){
  .accueil {
    .upper-content {
      padding-top: 1rem;
      flex-direction: column;
  
      .accueil-text {
        width: 90%;
      }
      .image-carousel-container {
        width: $image-carousel-width-sm;
        height: 9/16 * $image-carousel-width-sm;
      }
    }
    .card-carousel-container {
      width: $image-carousel-width-sm;
      margin: 2rem 0rem;
    }
  }
}