.calcul-container {
  display: flex;
  padding: 2rem 2rem;

  .input-container {
    margin: 1rem 0rem;
    width: 40vw;

    input {
      width: 100%;
      margin: 0.5rem 0rem;
      padding: 0rem 0.5rem;
      height: 2rem;
      border: none;
      box-shadow: rgba($color: $black, $alpha: 0.3) 0px 1px 5px;
    }
  }

  .calcul-read {
    margin-left: 5vw;

    div {
      input {
        background: #EEE;
      }
    }
  }

  .calcul-write {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 991px){
  .calcul-container {
    flex-direction:  column;

    .calcul-read, .calcul-write {
      margin-left: 5vw;
    }

    .input-container {
      width: 60vw;
    }
  }
}

@media screen and (max-width: 768px){
  .calcul-container {
    padding: 0;
    padding-top: 2rem;
    flex-direction:  column;

    .input-container {
      width: 90vw;
    }
  }
}
