.flash {
  position: fixed;
  top: 5vh;
  left: 50vw;
  transform: translateX(-50%);
  width: 50vw;
  z-index: 1000;
  
  p {
    padding: 1rem;
    width: 100%;
    text-align: center;
  }
}

.flash-success {
  background: #d4edda;  
  color: #155724;
}

.flash-error {
  background: #f8d7da;
  color: #721c24;
}

@media screen and (max-width: 768px){
  .flash {
    width: 95vw;
  }
}