footer {
  width: 100%;
  height: 20vh;
  min-height: 170px;
  background: $lightgray;

  .line {
    height: 1px;
    background: $black;
    opacity: 0.3;
  }

  .footer-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .newsletter {
      color: $black;
      width: 25vw;
      label {
        font-size: 1.2rem;
      }
      input {
        width: 100%;
        height: 30px;
        margin: 0.5rem 0rem;

        &[placeholder]{
          padding: 1rem;
        }
      }
      button {
        background: $black;
        color: $white;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.2s;
        text-align: center;
        padding: 0.5rem 2rem;
        border: 1px solid $white;

        &:hover {
          background: $white;
          color: $black;
          border: 1px solid $black;
        }

        &[disabled]{
          cursor: not-allowed;
        }
      }
    }
    .contact {
      line-height: 1.5rem;
      h3 {
        font-size: 1.2rem;
        font-weight: 400;
      }
      p, a {
        color: $gray;
      }
      a {
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 1200px){
  footer {
    height: 30vh;
    .footer-content {
      .newsletter {
        width: 35vw;
      }
    }
  }
}

@media screen and (max-width: 768px){
  footer {
    height: auto;
    .footer-content {
      flex-direction: column;

      .newsletter, .contact {
        width: 95%;
        margin: 1rem;
      }
    }
  }
}