// color variables
$black: #404852;
$blue: #20A6FF;
$gray: #888D93;
$lightgray: #F9F9F9;
$white: #FFFFFF;
$nav-height: 7vh;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, 'sans serif';
}

body {
  overflow-x: hidden;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
}

#page-container {
  min-height: 100vh - $nav-height;
}

h1, h2, h3, h4, p {
  color: $black;
}

// import of partials
@import './nav';
@import './pages/accueil';
@import './footer.scss';
@import './pages/categorie';
@import './pages/materiel';
@import './pages/informations';
@import './pages/imageDetails';
@import './pages/calculs';
@import './pages/notfound';
@import './pages/newsletter';
@import './modal';
@import './loading';
@import './form';
@import './flash';
@import './pages/login';
@import '../Admin/styles/admin';
