.Admin {
  display: flex;

  .admin-nav {
    margin: 2rem;
    ul {
      text-decoration: none;
      color: $black;
      font-size: 1.5rem;
      a {
        color: $black;
        text-decoration: none;

        li {
          margin: 2rem 0;
          list-style: none;
          cursor: pointer;
        }
      }
    }
  }

  .datas {
    flex: 1;
    margin: 2rem;
    position: relative;

    .create-button-container {
      display: flex;
      justify-content: flex-end;

      .create-button {
        cursor: pointer;
        color: $white;
        text-decoration: none;
        background: $blue;
        transition: 0.3s;
        border: none;
        padding: 0.5rem 2rem;
        border: 1px solid $white;

        &:hover {
          color: $blue;
          background: $white;
          border: 1px solid $blue;
        }
      }
    }

    table {
      border-collapse: collapse;
      margin: 2rem 0;
      width: 100%;

      thead {
        tr {
          td {
            width: auto;
          }
        }

        &:after {
          content: '';
          height: 1rem;
          display: table-row;
        }
      }
      tbody {
        tr {
          height: 100%;

          td {
            padding: 1rem 0;
            padding-right: 2rem;
            border-top: 1px solid $black;
          }

          .update, .delete {
            cursor: pointer;
          }

          .update {
            color: orange;
          }

          .delete {
            color: red;
          }
        }
      }
    }
  }

  label {
    font-size: 1.2rem;
  }

  input, select, textarea {
    width: 50%;
    margin: 0.5rem 0rem;
  }
  input {
    height: 30px;

    &[placeholder], &[value]{
      padding: 1rem;
    }
  }

  select {
    height: 30px;

    option {
      padding: 2rem;
    }
  }

  textarea {
    padding: 1rem;
  }

  button {
    cursor: pointer;
    color: $white;
    text-decoration: none;
    background: $blue;
    transition: 0.3s;
    border: none;
    padding: 0.5rem 2rem;
    border: 1px solid $white;

    &:hover {
      color: $blue;
      background: $white;
      border: 1px solid $blue;
    }

    &[disabled]{
      cursor: not-allowed;

      &:hover {
        color: $white;
        background: $blue;
        border: 1px solid $white;
      }
    }
  }

  .file-input input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .file-input input + label {
    margin: 0.5rem 0;
    padding: 0.2rem 1rem;
    color: white;
    background-color: $blue;
    display: inline-block;
    transition: 0.3s;
    border: 1px solid $white;
    cursor: pointer;
  }

  .file-input input + label:hover {
      background-color: $white;
      color: $blue;
      border: 1px solid $blue;
  }
}