.datas {
  flex: 1;
  margin: 2rem;
  position: relative;

  .create-button-container {
    display: flex;
    justify-content: flex-end;

    .create-button {
      cursor: pointer;
      color: $white;
      text-decoration: none;
      background: $blue;
      transition: 0.3s;
      border: none;
      padding: 0.5rem 2rem;
      border: 1px solid $white;

      &:hover {
        color: $blue;
        background: $white;
        border: 1px solid $blue;
      }
    }
  }

  table {
    border-collapse: collapse;
    margin: 2rem 0;
    width: 100%;

    thead {
      tr {
        td {
          width: auto;
        }
      }

      &:after {
        content: '';
        height: 1rem;
        display: table-row;
      }
    }
    tbody {
      tr {
        height: 100%;

        td {
          padding: 1rem 0;
          padding-right: 2rem;
          border-top: 1px solid $black;
        }

        .update, .delete {
          cursor: pointer;
        }

        .update {
          color: orange;
        }

        .delete {
          color: red;
        }
      }
    }
  }
}

.sitemap {
  > * {
    margin-right: 1rem;
  }

  button, .button {
    cursor: pointer;
        color: $white;
        text-decoration: none;
        background: $blue;
        transition: 0.3s;
        border: none;
        padding: 0.5rem 2rem;
        border: 1px solid $white;
        font-size: 1rem;
        border: 1px solid $blue;
  
        &:hover {
          color: $blue;
          background: $white;
        }
  }
}